.form-input {
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease;
}
.form-input:focus {
    outline: none;
    border-color: var(--primary-accent);
    box-shadow: 0 0 15px rgba(249, 37, 138, 0.5);
    background-color: rgba(0,0,0,0.3);
}

.form-input.ng-invalid.ng-touched {
    border-color: #ef4444;
}