<footer>
    <section class="hero-contacto container" id="contact">
        <div class="container-fluid d-f jc-c">
            <p class="experience-title">Contact</p>
          </div>
          <div class=" d-f jc-c al-c">
              <form class="form-main" #form target="_blank" action="https://formsubmit.co/brunoporfidio117@gmail.com" method="post">
                  <div class="input-container">
                <div class="input-content">
                    <div class="input-dist">
                        <span id="SubscribeTXT">Contact to Me!</span>
                        <div class="input-type">
                            <div class="row">
                                <div class="col-6 form-group ">
                                    <label>Name:</label>
                                    <input type="text" name="nombre" class="input-is" placeholder="Enter your Name"
                                        required>
                                </div>
                                <div class="col-6 form-group">
                                    <label>Email:</label>
                                    <input type="email" name="email" class="input-is"
                                    placeholder="Example: example@gmail.com" required>
                                </div>
                            </div>
                            <div>
                                <label>Subject:</label>
                                <input type="text" name="Asunto" class="input-is" placeholder="Enter the Subject"
                                required>
                            </div>
                            <div>
                                <label>Mesagge:</label>
                                <textarea name="mensaje" rows="6" class="input-is" placeholder="Enter the Mesagge"
                                required></textarea>
                            </div>
                            <button type="submit" class="btn" (click)="form.submit()">
                                Send
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    </section>
</footer>