<section class="hero-form container">
  <div class=" d-f jc-c al-c" *ngIf="educacion">
    <form class="form-main" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <div class="input-container">
        <div class="input-content">
          <div class="input-dist">
            <span id="SubscribeTXT">EDITAR PERSONA</span>
            <div class="input-type">
              <div class="row d-f">

                <div class="col-6">
                  <div class="form-group ">
                    <label for="institucion">Institucion</label>
                    <input type="text" class="input-is" id="institucion" name="institucion"
                      placeholder="Ingrese nombre del Instituto" [(ngModel)]="educacion.institucion" required>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" class="input-is" id="titulo" name="titulo" placeholder="Ingrese Titulo Obtenido"
                      [(ngModel)]="educacion.titulo" required>
                  </div>
                </div>

              </div>
              <div class="row d-f">

                <div class="col-6">
                  <div class="form-group ">
                    <label for="inicio">Inicio</label>
                    <input type="month" class="input-is" id="inicio" name="inicio" [(ngModel)]="educacion.inicio" required>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="fin">Fin</label>
                    <input type="month" class="input-is" id="fin" name="fin" [(ngModel)]="educacion.fin" required>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label for="fotoEducacion">Foto Educacion Url</label>
                <input type="text" class="input-is" id="fotoEducacion" name="fotoEducacion"
                  placeholder="Ingrese Url de la imagen" [(ngModel)]="educacion.fotoEducacion" required>
              </div>

              <div class="row d-f">
                <div class="col jc-c al-c">
                  <button type="submit" class="btn-save mt-15"><i class="bi bi-person-fill-add"></i></button>
                </div>
                <div class="col jc-c al-c">
                  <button routerLink="/portfolio" class="btnn-close"><i class="bi bi-x-circle-fill"></i></button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>