<ng-container *ngIf="show">
    <div class="modalc">
      <div class="modalc-content">
        <!-- Header del modal-->
        <header class="modalc-header">
          <h4 class="modalc-title"><b>{{ title }}</b></h4>
        </header>
        <!-- Contenido del modal-->
        <div class="modalc-container">
          <form [formGroup]="educacionForm" (ngSubmit)="onSubmit()">
            <div>
              <input type="hidden" name="idEducacion" formControlName="idEducacion" />
              
              <h4>Nombre de la Institucion</h4>
              <input
                type="text"
                name="institucion"
                formControlName="institucion"
                placeholder="Ingrese Nombre del la Institucion"
                required
                class="contact-input form-control"
              />
              <h4>Titulo Obtenido</h4>
              <input
                type="text"
                name="titulo"
                formControlName="titulo"
                placeholder="Ingrese su Titulo"
                class="contact-input form-control"
              />
              <h4>Fecha Inicio</h4>
              <input
                type="text"
                name="inicio"
                formControlName="inicio"
                placeholder="Ingrese la fecha de inicio"
                class="contact-input form-control"
              />
              <h4>Fecha Finalizacion</h4>
              <input
                type="text"
                name="fin"
                formControlName="fin"
                placeholder="Ingrese fecha de finalizacion"
                class="contact-input form-control"
              />
              <h4>Url de imagen</h4>
              <input
                type="text"
                name="fotoEducacion"
                formControlName="fotoEducacion"
                placeholder="Ingrese la url de la imagen"
                class="contact-input form-control"
              />
              <!--==/ Botón para guardar los datos /==-->
              <div class="container">
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn-save"><i class="bi bi-person-fill-add"></i></button>
                    </div>
                    <div class="col-6">
                        <button (click)="show = false" class="btnn-close"><i class="bi bi-x-circle-fill"></i></button>
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>