<section class="title-hero">
    <div class="container-fluid">
        <div class="row d-f jc-c al-c">
            <div class="col-12 col-sm-5 image-container d-f jc-c">
                <img class="image" src="https://i.postimg.cc/158SmQHW/office.png" alt="" srcset="">
            </div>
            <div class="col-12 col-sm-7" *ngFor="let persona of personas, let i = index">
                <div class="primary-text">
                    <b class="welcome-text"><a href="/login">Hi</a> There, I'm </b>
                </div>
                <p class="titulo glitch d-f " data-text="Bruno C G Porfidio">{{persona.nombre}} {{persona.apellido}}</p>
                <div class="animated-text">
                    <p class="subtitulo ">{{persona.subTitulo}} .</p>
                </div>
            </div>
            <div class="waves">
                <div class="wave circulo a"></div>
                <div class="wave circulo b"></div>
                <div class="wave circulo c"></div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="aboutme-hero" id="about-me">
    <div class="container-fluid d-f al-c">
        <p class="aboutme-title ">About Me</p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 d-f jc-c al-c mt-5">
                <div class="aboutme-descript" *ngFor="let persona of personas, let i = index">
                    <p data-aos="zoom-out-down">{{persona.acercaMi}}
                    </p>
                    <br>
                    <div class="social-container d-f jc-c al-c">
                        <div class="social-icon d-f">
                            <div class="col-1">
                                <a [href]="persona.linkedinUrl" target="_blank">
                                    <img class="icon linkedin"
                                        src="https://img.icons8.com/?size=512&id=44019&format=png" alt="Linikedin Png"
                                        srcset="" data-aos="fade-right">
                                </a>
                            </div>
                            <div class="col-1">
                                <a [href]="persona.githubUrl" target="_blank">
                                    <img class="icon github" src="https://img.icons8.com/?size=512&id=52539&format=png"
                                        alt="Github Png" srcset="" data-aos="fade-down">
                                </a>
                            </div>
                            <div class="col-1">
                                <a download="BrunoPortfidioCV" href="../../../assets/documents/CVBrunoPorfidioTIE.pdf">
                                    <img class="icon cv"
                                        src="https://img.icons8.com/?size=512&id=4rzOerPFTcOo&format=png" alt="Cv Png"
                                        srcset="" data-aos="fade-left">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="admin-btn" *ngIf="isAdmin">
                        <i routerLink="/editaboutMe/{{persona.id}}" *ngIf="isLogged" class="btn-edit bi bi-pencil-fill">
                        </i>
                    </div>
                </div>
            </div>
            <div class="col col-md-5 banner-container d-f jc-c al-c">
                <img class="banner" src="https://quizbit.co/assets/img/banner.svg" alt="Image Banner" srcset="">
            </div>
        </div>
    </div>
</section>
<br>
<br>