.d-f {
  display: flex;
}

.jc-c {
  justify-content: center;
}

.jc-e {
  justify-content: end;
}

.al-c {
  align-items: center;
}

.title-hero {
  padding-top: 30vh;
  height: 100vh;
}

.image {
  width: 25em;
  z-index: 10;
}

.primary-text {
  background: rgba(121, 75, 221, 0.761);
  width: auto;
  display: inline-block;
  padding: 0.1em;
  text-decoration: none;
  color: white;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
}

.welcome-text {
  display: inline-block;
  font-size: 4em;
  background: -webkit-linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(46 199 181) 86%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titulo {
  font-size: 5em;
}

.titulo > a {
  color: #fff;
  text-decoration: none;
  cursor: auto;
}

.glitch {
  color: white;
  font-size: 6.25rem;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(3.3125rem, 624.9375rem, 1.0625rem, 0);
  }
  5% {
    clip: rect(3.5625rem, 624.9375rem, 1.875rem, 0);
  }
  10% {
    clip: rect(4.5rem, 624.9375rem, 3.25rem, 0);
  }
  15% {
    clip: rect(2.875rem, 624.9375rem, 2.5625rem, 0);
  }
  20% {
    clip: rect(2.875rem, 624.9375rem, 2.75rem, 0);
  }
  25% {
    clip: rect(2.6875rem, 624.9375rem, 0.8125rem, 0);
  }
  30% {
    clip: rect(6.0625rem, 624.9375rem, 1.0625rem, 0);
  }
  35% {
    clip: rect(3.3125rem, 624.9375rem, 0.4375rem, 0);
  }
  40% {
    clip: rect(5.0625rem, 624.9375rem, 3.0625rem, 0);
  }
  45% {
    clip: rect(0.0625rem, 624.9375rem, 0.5625rem, 0);
  }
  50% {
    clip: rect(0.0625rem, 624.9375rem, 4.125rem, 0);
  }
  55% {
    clip: rect(1.1875rem, 624.9375rem, 4.375rem, 0);
  }
  60% {
    clip: rect(2.375rem, 624.9375rem, 2.25rem, 0);
  }
  65% {
    clip: rect(1rem, 624.9375rem, 5.1875rem, 0);
  }
  70% {
    clip: rect(0.0625rem, 624.9375rem, 3.9375rem, 0);
  }
  75% {
    clip: rect(2.875rem, 624.9375rem, 5.3125rem, 0);
  }
  80% {
    clip: rect(5.0625rem, 624.9375rem, 6.125rem, 0);
  }
  85% {
    clip: rect(3.75rem, 624.9375rem, 6.25rem, 0);
  }
  90% {
    clip: rect(4.1875rem, 624.9375rem, 5.25rem, 0);
  }
  95% {
    clip: rect(3.25rem, 624.9375rem, 2.1875rem, 0);
  }
  100% {
    clip: rect(4.875rem, 624.9375rem, 3.8125rem, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  text-shadow: -0.0625rem 0 red;
  margin-left: -0.1875rem;
  top: 0;
  color: white;
  background: #00000000;
  overflow: hidden;
  clip: rect(0, 56.25rem, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(3.625rem, 624.9375rem, 5.75rem, 0);
  }
  5% {
    clip: rect(0.5rem, 624.9375rem, 1.9375rem, 0);
  }
  10% {
    clip: rect(5.5625rem, 624.9375rem, 1.125rem, 0);
  }
  15% {
    clip: rect(6.25rem, 624.9375rem, 5.375rem, 0);
  }
  20% {
    clip: rect(5.3125rem, 624.9375rem, 5.8125rem, 0);
  }
  25% {
    clip: rect(5.125rem, 624.9375rem, 5.6875rem, 0);
  }
  30% {
    clip: rect(5.5rem, 624.9375rem, 4.25rem, 0);
  }
  35% {
    clip: rect(5.25rem, 624.9375rem, 4.9375rem, 0);
  }
  40% {
    clip: rect(0.375rem, 624.9375rem, 5rem, 0);
  }
  45% {
    clip: rect(2.9375rem, 624.9375rem, 5.1875rem, 0);
  }
  50% {
    clip: rect(5.25rem, 624.9375rem, 5.6875rem, 0);
  }
  55% {
    clip: rect(2.4375rem, 624.9375rem, 1.5rem, 0);
  }
  60% {
    clip: rect(2.125rem, 624.9375rem, 2.5rem, 0);
  }
  65% {
    clip: rect(1.3125rem, 624.9375rem, 1.8125rem, 0);
  }
  70% {
    clip: rect(3.5625rem, 624.9375rem, 4.625rem, 0);
  }
  75% {
    clip: rect(0.5rem, 624.9375rem, 3.1875rem, 0);
  }
  80% {
    clip: rect(2.6875rem, 624.9375rem, 4rem, 0);
  }
  85% {
    clip: rect(3.3125rem, 624.9375rem, 3.9375rem, 0);
  }
  90% {
    clip: rect(0.875rem, 624.9375rem, 6.125rem, 0);
  }
  95% {
    clip: rect(3.75rem, 624.9375rem, 4.875rem, 0);
  }
  100% {
    clip: rect(3.5625rem, 624.9375rem, 5.75rem, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  margin-left: 0.1875rem;
  text-shadow: 0.0625rem 0 blue;
  top: 0;
  color: white;
  background: #00000000;
  overflow: hidden;
  clip: rect(0, 56.25rem, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.subtitulo {
  font-size: 3em;
  color: #fff;
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  animation: typing 5s steps(29, end) infinite alternate,
    blinking 0.8s alternate;
}

.animated-text {
  display: inline-block;
  max-width: 100%;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: orange;
  }
}

.waves {
  position: absolute;
  bottom: -8.4375rem;
  height: 32.9375rem;
  width: 100%;
  overflow: hidden;
}

.wave {
  position: absolute;
  left: -11.25rem;
  width: 150.125em;
  height: 28em;
  background: url(https://static.platzi.com/media/files/waves_c8551f5d-ecf6-4a81-ae1d-f3a0ad55ba10.png)
    center bottom no-repeat;
  animation: 5s wave ease-in-out infinite alternate;
}
.wave.a {
  background-position: 0 -53.375rem;
}
.wave.b {
  background-position: 0 -26.6875rem;
  animation-delay: 0.6s;
}
.wave.c {
  background-position: 0 0;
  animation-delay: 1.2s;
}

@keyframes wave {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-5rem, 0);
  }
  100% {
    transform: translate(10rem, 0);
  }
}

.aboutme-title {
  margin-top: 7vh;
  color: #fff;
  font-size: 2.7em;
  text-align: center;
  padding: 1rem 2rem;
  font-weight: 700;
  background: #50469d;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  border-top: 2px solid #59b8b0;
  border-left: 2px solid #59b8b0;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(46, 195, 240, 0.4) 5px 5px, rgba(46, 195, 240, 0.3) 10px 10px,
    rgba(46, 195, 240, 0.2) 15px 15px;
}

.aboutme-descript {
  position: relative;
  margin-top: 5vh;
  color: #fff;
  font-size: 1.6em;
  border-radius: 0.25em;
  text-transform: uppercase;
  font-weight: 400;
  padding: 25px;
  color: #fff;
  -webkit-clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 15px),
    calc(100% - 15px) 100%,
    15px 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    0 0,
    100% 0,
    100% 0,
    100% calc(100% - 50px),
    calc(100% - 50px) 100%,
    15px 100%,
    0 100%
  );
  letter-spacing: 1.2px;
  transition: 0.2s 0.1s;
  background-image: linear-gradient(90deg, #1c1c1c, #6827ff73);
  border: 0 solid;
  overflow: hidden;
}

.social-icon > .col-1 {
  margin: 0em 2em;
}

.icon {
  width: 3em;
  cursor: pointer;
  transition: box-shadow, 0.5s;
}

/* .linkedin:hover,
.github:hover,
.cv:hover {
  transform: scale(1.5, 1.5);
  transition: box-shadow, 0.5s;
} */

.admin-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bi {
  color: rgb(255, 255, 255);
  font-size: 30px;

  cursor: pointer;
}

.bi:hover {
  color: #4444bd;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~Media Queries~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


@media all and (min-width: 1110px) and (max-width: 1360px) {
  .image {
    width: 20em;
  }

  .welcome-text {
    font-size: 3.5em;
  }

  .titulo {
    font-size: 5em;
  }

  .aboutme-title {
    font-size: 1.5em;
  }

  .aboutme-descript {
    font-size: 1em;
  }

  .banner {
    width: 25em;
  }
}

@media all and (min-width: 950px) and (max-width: 1110px) {
  .image {
    width: 22em;
  }

  .welcome-text {
    font-size: 3em;
  }

  .titulo {
    font-size: 4em;
  }

  .aboutme-title {
    font-size: 1.5em;
  }

  .aboutme-descript {
    font-size: 1em;
  }

  .banner {
    width: 25em;
  }
}

@media all and (min-width: 850px) and (max-width: 950px) {
  .image {
    width: 15em;
  }

  .welcome-text {
    font-size: 2.5em;
  }

  .titulo {
    font-size: 3.5em;
  }

  .subtitulo {
    font-size: 2.5em;
  }

  .aboutme-title {
    font-size: 1.5em;
  }

  .aboutme-descript {
    font-size: 1em;
    margin-top: 2vh;
  }

  .banner {
    width: 18em;
  }
}

@media all and (min-width: 753px) and (max-width: 850px) {
  .image {
    width: 15em;
  }

  .welcome-text,
  .subtitulo {
    font-size: 2.5em;
  }

  .titulo {
    font-size: 3.5em;
  }

  .aboutme-title {
    font-size: 1.5em;
  }

  .aboutme-descript {
    font-size: 1em;
    margin-top: 2vh;
  }

  .banner {
    width: 18em;
  }
}

@media all and (min-width: 500px) and (max-width: 753px) {
  .title-hero {
    height: 90vh;
    padding-top: 20vh;
  }

  .waves {
    height: 20rem;
    bottom: -.5rem;
  }

  .banner-container {
    display: none;
  }

  .image {
    width: 15em;
  }

  .welcome-text,
  .subtitulo {
    font-size: 2.5em;
  }

  .titulo {
    font-size: 3.5em;
  }

  .aboutme-title {
    font-size: 1.5em;
  }

  .aboutme-descript {
    font-size: 1em;
    margin-top: 2vh;
  }

  .btn-edit{
    font-size: 1.9em;
  }

  .banner-container {
    display: none;
  }
}

@media all and (min-width: 330px) and (max-width: 500px) {
  .title-hero {
    height: 80vh;
    padding-top: 15vh;
  }

  .waves {
    height: 15rem;
    bottom: -.3rem;
  }

  .banner-container {
    display: none;
  }

  .image {
    width: 10em;
  }

  .welcome-text {
    font-size: 2em;
  }

  .titulo {
    font-size: 3em;
  }

  .subtitulo {
    font-size: 2em;
  }

  .aboutme-title {
    font-size: 1.2em;
  }

  .aboutme-descript {
    font-size: 1em;
    margin-top: 2vh;
  }

  .btn-edit{
    font-size: 1.8em;
  }

  .banner-container {
    display: none;
  }
}

@media all and (max-width: 330px) {
  .title-hero {
    padding-top: 14vh;
  }

  .banner-container {
    display: none;
  }

  .image {
    width: 8em;
  }

  .welcome-text {
    font-size: 1em;
  }

  .titulo {
    font-size: 2em;
  }

  .subtitulo {
    font-size: 0.8em;
  }

  .aboutme-title {
    font-size: 1em;
  }

  .aboutme-descript {
    font-size: 0.8em;
    margin-top: 2vh;
  }

  .btn-edit{
    font-size: 1.5em;
  }

  .banner-container {
    display: none;
  }
}
