

.header-user{
    text-align: right;
    font-size: 25px;
}

.modal-title{
  align-items: center;
  padding-left: 75px;
}

.col-xs-6{
    width: 50%;

}

.hero-nav{
    font-size: 2em;
    text-align: center;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0.625em;
    width: 100%;
  }

  .buttons{
    padding: 1%;
    text-decoration: none;
  }

  .nabvar a::after{
    content: "";
  }

  .open-menu, .close-menu {
    display: none;
}

button {
    overflow: visible;
}

  button {
    text-transform: none;
}

.modal-content{
  background-image: url("https://wallpaperaccess.com/full/1715114.jpg");
  font-size: 1.25rem;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  width: 80%;
  backdrop-filter: blur(6px);
  border: 1px solid #D4AF37;
  color: rgb(255, 255, 255);
}

/* 
  Inicio Modal Login
*/

.send-btn{
  font-size: 35px; 
  color: #fff;
  text-align: left;
}
.close-btn{
  font-size: 35px;
   color: #fff;
}

.inpt-body{
  margin-top: 15px;
  margin-bottom: 15px;
}

.card-login{
  margin: 6em auto;
  align-items: center;
}



  @media (max-width:950px){

    .open-menu:focus:not(:focus-visible), .close-menu:focus:not(:focus-visible) {
        outline: none;
    }
    .open-menu, .close-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }
  }