<section class="hero-nav" id="main">
    <nav>
        <ul class="inicio">
            <li class="nav-item">
                <a class="buttons" href="#main" style="color: #fff;">Inicio</a> 
                <a class="buttons" href="#about-me" style="color: #fff;">Sobre Mi</a>
                <a class="buttons" href="#proyects" style="color: #fff;">Mis Proyectos</a>
                <a class="buttons" href="#contact" style="color: #fff;">Contacto</a>
            </li>
        </ul>
    </nav>
</section>