.hero-nav{

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  justify-content: center;
}

.menu-btn{
  color: #fff;
  background-color: black;
  display: none;
}


.col-xs-6{
    width: 50%;
}

.nav__item{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.hero-nav{
    font-size: 2em;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    text-decoration: none;
}

.buttons{
     color: #fff;
     margin: 3px;
}

.lgnbtn{
  font-size: 15px;
  border: 1px solid #D4AF37;
  float: right;
}

.buttons:active {
  box-shadow: 5px 3px 3px #D4AF37;
}


/* 
 ------------------------------- Inicio Modal Login---------------------------
*/

.modal-title{
  align-items: center;
  padding-left: 75px;
}

.navbar__modal{
  height: 100%;
}

.modal-content{
  background-image: url("https://wallpaperaccess.com/full/1715114.jpg");
  font-size: 1.25rem;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  width: 80%;
  backdrop-filter: blur(6px);
  border: 1px solid #D4AF37;
  color: rgb(255, 255, 255);
}

.send-btn{
  font-size: 35px; 
  color: #fff;
  text-align: left;
}
.close-btn{
  font-size: 35px;
   color: #fff;
}

.inpt-body{
  margin-top: 15px;
  margin-bottom: 15px;
}

/* 
 --------------------------------------------- Media Queries---------------------------------------------------
*/

  @media screen and (max-width:1057px){

    .hero-nav{
      background-color: rgba(0, 0, 0, 0.4);
      width: 30%;
      /* width: 6.5%; */
      border: 1px solid #D4AF37;
    }

    .menu-btn{
      font-size: 35px;
    }

    .btn-nav{
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center ;
    }

    .menu-btn{
      display: flex;
      cursor: pointer;
    }

    .nav__item{
      height: 0vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: left;
      overflow: hidden;
      pointer-events: none;
      transition: all .5s ease;
    }

    .nav__item--activo{
      height: 50vh;
      pointer-events: auto;

    }

    .header-user{
      font-size: 20px;
    }

    a{
      margin: .5 em;
    }

  }

  @media screen and (max-width: 768px) {

    .nav__item--activo{
      height: 30vh;
    }

    .menu-btn{
      font-size: 25px;
    }

  }

  @media screen and (max-width: 480){

    .nav__item--activo{
      height: 10vh;
    }

    .menu-btn{
      font-size: 25px;
    }


  }