<div  id="main"></div>
<div class="hero-nav">
    <div class="container-fluid nabvar">
        <button (click)="setActive()" class="menu-btn"><i class="bi bi-list"></i></button>
            <div class="nav__item"
                [ngClass]="{'nav__item--activo' : active}">
                    <a href="#main"><button class="buttons btn-nav" >Inicio</button></a>
                    <a href="#about-me"><button class="buttons btn-nav">Sobre Mi</button></a>
                    <a href="#proyects"><button class="buttons btn-nav">Mis Proyectos</button></a>
                    <a href="#contact"><button class="buttons btn-nav">Contacto</button></a>
                <button class="buttons lgnbtn" data-bs-toggle="modal" data-bs-target="#ventanaLogin">
                    <p class="login-txt">Iniciar sesion</p> 
                </button>
            </div>   
    </div>
</div>

    <!-- 
        Modal Inicio de Sesion
     -->

    <div class="modal fade" id="ventanaLogin" tabindex="-1" role="dialog" aria-labelledby="tituloLogin" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
          <div class="modal-content" rol="document">
            <div class="modal-header">
              <h1 class="modal-title fs-1 " id="exampleModalLabel" >Iniciar sesion</h1>
              <button type="button" class="btn-close" style="background-color: #fff;" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <i class="bi bi-person-circle" style="font-size: 150px;" ></i>
                <div class="container loginForm">
                    <form action="#" method=""  id="loginForm">
                        <div class="inpt-body">
                            <div>
                                <input name="correo" id="email" type="text" value placeholder="Email" required>
                            </div>
                        </div>
                        <div class="inp-body">
                            <div>
                                <input name="password" id="password" type="text" value placeholder="Password" required>
                            </div>
                        </div>
                        <ul class="list-login"></ul>
                        <ul class="list-login-btn"></ul>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn send-btn" style="margin-right: 150px;">
                <i class="bi bi-box-arrow-in-right"></i>
            </button>
            
              <button type="button" class="btn close-btn" data-bs-dismiss="modal" style="margin-left: 90px;">
                <i class="bi bi-x-lg"></i>
            </button>

            </div>
          </div>
        </div>
