.d-f {
  display: flex;
}

.jc-c {
  justify-content: center;
}

.al-c {
  align-items: center;
}

.hero-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.menu-btn {
  color: #fff;
  background-color: #50469d;
  display: none;
  border: 1px solid rgb(0, 255, 213);
}

.nav__item {
  width: 100%;
}

.hero-nav {
  font-size: 2em;
  text-align: center;
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 100;
  overflow: hidden;
  text-decoration: none;
}

.buttons {
  height: 3.125em;
  color: #ffffff;
  margin: 3px;
  border: 3px solid rgb(90, 32, 153);
}

button,
button::after {
  padding: 10px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #50469d;
  position: relative;
}

button::after {
  --move1: inset(50% 50% 50% 50%);
  --move2: inset(31% 0 40% 0);
  --move3: inset(39% 0 15% 0);
  --move4: inset(45% 0 40% 0);
  --move5: inset(45% 0 6% 0);
  --move6: inset(14% 0 61% 0);
  clip-path: var(--move1);
  content: "ERROR";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

button:hover::after {
  animation: glitch_4011 1s;
  text-shadow: 10 10px 10px black;
  animation-timing-function: steps(2, end);
  text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #e94be8;
  background-color: transparent;
  border: 3px solid rgb(0, 255, 213);
}

button:hover {
  text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #e94be8;
}

button:hover {
  background-color: #59b8b0;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
}

@keyframes glitch_4011 {
  0% {
    clip-path: var(--move1);
    transform: translate(0px, -10px);
  }

  10% {
    clip-path: var(--move2);
    transform: translate(-10px, 10px);
  }

  20% {
    clip-path: var(--move3);
    transform: translate(10px, 0px);
  }

  30% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  40% {
    clip-path: var(--move5);
    transform: translate(10px, -10px);
  }

  50% {
    clip-path: var(--move6);
    transform: translate(-10px, 10px);
  }

  60% {
    clip-path: var(--move1);
    transform: translate(10px, -10px);
  }

  70% {
    clip-path: var(--move3);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--move2);
    transform: translate(10px, -10px);
  }

  90% {
    clip-path: var(--move4);
    transform: translate(-10px, 10px);
  }

  100% {
    clip-path: var(--move1);
    transform: translate(0);
  }
}

.bi {
  font-size: 0.8625em;
}

@keyframes slide-down {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

.slide-down {
  animation: slide-down 0.5s ease-in-out forwards;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}


/* 
 -------------------------------------- Media Queries---------------------------------------------------
*/

@media screen and (max-width: 1100px) {
  .menu-btn {
    font-size: 1em;
    width: 5vw;
  }

  .nav__item > a{
    width: 60%;
  }

  .btn-nav {
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
  }

  .menu-btn {
    display: flex;
    cursor: pointer;
  }

  .navbar {
    background-color: rgba(91 0 173 / 62%);
    transition: all 0.5s ease;
    margin: -0.26em 0em;
  }

  .nav__item {
    height: 0vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    overflow: hidden;
    pointer-events: none;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #37bfd4;
    transition: all 0.5s ease;
  }

  .nav__item--activo {
    height: auto;
    pointer-events: auto;
  }
}

@media screen and (max-width: 999px) {
  a {
    margin: 1px;
  }

  .nav__item {
    font-size: 20px;
  }

}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .menu-btn {
    font-size: 30px;
  }

  .btn-nav {
    height: 2.5em;
  }

  .nav-txt {
    justify-content: center;
    align-items: center;
  }

  .nav__item{
    font-size: 15px;
  }

}

@media screen and (min-width:350px) and (max-width: 480px) {
  .nav__item--activo {
    height: auto;
  }

  .menu-btn {
    font-size: .8em;
  }

  .navbar {
    align-items: center;
  }
  
  .btn-nav {
    height: 2em;
  }

  .nav-txt{
    font-size: .7em;
  }

}

@media screen and (max-width: 350px) {

  .menu-btn {
    font-size: .5em;
  }

  .btn-nav {
    height: 2em;
  }

  .inp-space {
    width: 100%;
  }

  .nav-txt{
    font-size: .5em;
  }
}
