<section class="hero-form container d-f jc-c al-c">
  <form class="form-main" (ngSubmit)="onCreate()" novalidate #f="ngForm">
    <div class="input-container">
      <div class="input-content">
        <div class="input-dist">
          <span id="SubscribeTXT">NEW PROFILE</span>
          <div class="input-type">
            <div class="row d-f">
              <div class="col-6">
                <div class="form-group">
                  <label for="nombre">Name</label>
                  <input type="text" class="input-is" id="nombre" name="nombre" placeholder="Ex: Bruno"
                    [(ngModel)]="nombre" required>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="apellido">Last Name</label>
                  <input type="text" class="input-is" id="apellido" name="apellido" placeholder="Ex: Porfidio"
                    [(ngModel)]="apellido" required>
                </div>
              </div>

            </div>
            <div class="form-group ">
              <label for="subTitulo">Title</label>
              <input type="text" class="input-is" id="subTitulo" name="subTitulo" placeholder="Ex: FontEnd Develoer"
                [(ngModel)]="subTitulo" required>
            </div>

            <div class="form-group">
              <label for="descripcion">Descript</label>
              <textarea class="textarea" type="text" class="input-is" id="descripcion" name="descripcion" size="5000px"
                [(ngModel)]="acercaMi" required></textarea>
            </div>

            <div class="row d-f">

              <div class="col-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="input-is" id="email" name="email" size="5000px" [(ngModel)]="email"
                    required>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label for="telefono">Phone</label>
                  <input type="number" class="input-is" id="telefono" name="telefono" size="5000px"
                    [(ngModel)]="telefono" required>
                </div>
              </div>
            </div>

            <div class="row d-f">
              <div class="col-6">
                <div class="form-group">
                  <label for="linkedinUrl">Url Linkedin</label>
                  <input type="url" class="input-is" id="linkedinUrl" name="linkedinUrl" size="5000px"
                    [(ngModel)]="linkedinUrl" required>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label for="githubUrl">Url GitHub</label>
                  <input type="url" class="input-is" id="githubUrl" name="githubUrl" size="5000px"
                    [(ngModel)]="githubUrl" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="ubicacion">Location</label>
              <input type="text" class="input-is" id="ubicacion" name="ubicacion" size="5000px" [(ngModel)]="ubicacion"
                required>
            </div>

            <div class="row d-f">
              <div class="col jc-c al-c">
                <button type="submit" class="btn-save"><i class="bi bi-person-fill-add"></i></button>
              </div>
              <div class="col jc-c al-c">
                <button routerLink="/portfolio" class="btnn-close"><i class="bi bi-x-circle-fill"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>