<section class="wallpaper">
    <div class="container login-form">
      <div class="row">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 ">
          <div class="card bg-dark text-white">
            <div class="card-body p-4 text-center login-container">
              <div>
                <h1 class="fw-bold mb-2 text-uppercase login-title">Crear Cuenta</h1>
                <h3><p class="text-white-50 mb-5">
                    <br>
                  Por favor, ingrese sus datos para Crear la cuenta.
                  <br>
                </h3>
  
                <form id="form" #form="ngForm" (ngSubmit)="onRegister()" novalidate>
                    <div class="form-outline form-white mb-4">
                        <label class="form-label login-txt" for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre" style="font-size: 20px;" class="form-control form-control-md"
                          [(ngModel)]="nombre" required>
                      </div>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label login-txt" for="nombreUsuario">Nombre de Usuario</label>
                    <input type="text" name="nombreUsuario" id="nombreUsuario" style="font-size: 20px;" class="form-control form-control-md"
                      [(ngModel)]="nombreUsuario" required>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label login-txt" for="email">Email</label>
                    <input type="text" name="email" id="email" style="font-size: 20px;" class="form-control form-control-md"
                      [(ngModel)]="email" required>
                  </div>
                  <div class="form-outline form-white mb-4">
                    <label class="form-label login-txt" for="password">Contraseña</label>
                    <input type="password" name="password" id="password" style="font-size: 20px;" class="form-control form-control-md"
                      [(ngModel)]="password" required>
                  </div>  
                  <button id="boton" class="btn btn-outline-light btn-lg px-5 buttons" type="submit"><i class="bi bi-box-arrow-in-right icon-send"></i>
                    Crear Cuenta
                  </button>
                  <button id="boton" routerLink="/login" class="btn btn-outline-light btn-lg px-5 buttons" type="submit"><i class="bi bi-box-arrow-left"></i>
                    Volver
                  </button>
                </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>