section {
    background-image: url("https://wallpaperaccess.com/full/1715114.jpg");
    height: 50vw;
    background-repeat: no-repeat;
    align-items: center;
    }
  
  .login-form{
    padding-top: 2%;
  }