<form class="container" id="form" [formGroup]="login" (ngSubmit)="onLogin($event)" novalidate>
  <div class="input-container">
      <div class="input-content">
        <div class="input-dist">
        <div class="d-f">
          <div class="">
            <a href="/portfolio">
              <img class="img-back"
              src="https://img.icons8.com/?size=256&id=43974&format=png"
              alt="" srcset="">
            </a>
          </div>
          <div class="col jc-c al-c">
            <p class="login-title">Login</p>
          </div>
        </div>
              <div class="input-type form-group">
                  <input name="nombreUsuario" id="nombreUsuario"
                  class="input-is form-group" 
                  [(ngModel)]="nombreUsuario" 
                  [class.is-invalid]="invalidNombreUsuario" 
                  formControlName="nombreUsuario"  
                  type="text" required 
                  placeholder="Example: Bruno">  
                  <small *ngIf="invalidNombreUsuario" class="text-danger">Enter your UserName!</small>

                  <input name="password" id="password" 
                  [(ngModel)]="password" required 
                  class="input-is form-group"
                  [class.is-invalid]="invalidPassword" 
                  formControlName="password"
                  placeholder="Example: Password"
                  type="password" 
                  >  
                  <small *ngIf="invalidPassword" class="text-danger">Enter your Password!</small>
              </div>
              <button type="submit">Submit</button>
            </div>
      </div>
  </div>
</form>