<div class="hero-education container-fluid" style="background-color: black;">
    <div class="container">
        <h1 class="title-education">MI EDUCACION</h1>
    </div>
    <div class="botones-admin">
        <i *ngIf="isAdmin" (click)="openModal()" class="bi bi-plus-square"
            style="color: rgb(255, 225, 0); font-size: 35px; cursor: pointer; "></i>


        <div *ngIf="modalSwitch == true">
            <app-modal-education></app-modal-education>
        </div>
    </div>

    <div class="container-fluid" style="margin-bottom: 3%;" >
        <div class="row">
            <div class="col-md-6 col-sm-10" *ngFor="let educacion of educacions, let i = index" [id]="educacion.idEducacion" >
                <div class="card main-card-education">
                    <div class="card-header card-education-title">
                        <h2 class="school-title">{{educacion.institucion}}</h2>
                    </div>
                    <div class="card-body education-card">
                        <div class="row">
                            <div class="col-6">
                                <img class=" img-education" [src]="educacion.fotoEducacion" alt="img Educacion" >
                            </div>
                            <div class="col-6">
                                <div class="card-text">
                                    <div class="card-title">
                                        <h3 class="title-card-education">{{educacion.titulo}}</h3>
                                    </div>
                                    <div class="row date-education">
                                        <div class="col-6">
                                            <p class="date-card-education">Inicio: {{educacion.inicio}}</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="date-card-education" >Fin: {{educacion.fin}}</p>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row admin-btn" >
                        <div class="col-6">
                            <i *ngIf="isAdmin == true" (click)="onEditEducacion(i)" class="btn-edit bi bi-pencil-fill"></i>
                        </div>
                        <div class="col-6">
                            <i *ngIf="isAdmin == true" (click)="onDeletedEducacion(i)" class="btn-delete bi bi-trash-fill"></i>
                        </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>