<div class="container-fluid education-hero">
  <div class="container-fluid d-f jc-c">
    <p class="education-title">My Educations</p>
    <div class="d-f al-c">
      <i *ngIf="isAdmin" routerLink="/newEducation" class="add-education bi bi-plus-square"></i>
    </div>
  </div>
  <div class="row d-f jc-c al-c">
    <!-- Aca comienza el codigo editado -->
    <div class="col-9 col-sm-6 col-md-4 col-lg-3">
      <div class="parent d-f jc-c al-c">
        <div class="card">
          <div class="top-section d-f jc-c al-c">
            <img  src="https://i.postimg.cc/R01zKzJt/AP.png">
          </div>
          <div class="bottom-section">
            <span class="title">Argentina Programa</span>
            <br>
            <span class="subtitle">Full Stack Web developer</span>
            <div class="row">
              <div class="item">
                <span class="regular-text">From</span>
                <span class="big-text">07-2022</span>
              </div>
              <div class="item">
                <span class="regular-text">To</span>
                <span class="big-text">03-2023</span>
              </div>
            </div>
            <div class="row" *ngIf="isAdmin == true">
              <div class="col-6 d-f jc-c al-c">
                <i routerLink="/editEducation/{{educacion.idEducacion}}"
                  class="btn-edit bi bi-pencil-fill"></i>
              </div>
              <div class="col-6 d-f jc-c al-c">
                <i (click)="delete(educacion.idEducacion)"
                  class="btn-delete bi bi-trash-fill"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 col-sm-6 col-md-4 col-lg-3">
      <div class="parent d-f jc-c al-c">
        <div class="card">
          <div class="top-section d-f jc-c al-c">
            <img  src="https://i.postimg.cc/yYbHmPQV/image-2023-08-30-162827173-removebg-preview.png">
          </div>
          <div class="bottom-section">
            <span class="title">Centro Universitario de Idiomas</span>
            <br>
            <span class="subtitle">Ingles para Desarrollo de Software</span>
            <div class="row">
              <div class="item">
                <span class="regular-text">From</span>
                <span class="big-text">12-2022</span>
              </div>
              <div class="item">
                <span class="regular-text">To</span>
                <span class="big-text">04-2023</span>
              </div>
            </div>
            <div class="row" *ngIf="isAdmin == true">
              <div class="col-6 d-f jc-c al-c">
                <i routerLink="/editEducation/{{educacion.idEducacion}}"
                  class="btn-edit bi bi-pencil-fill"></i>
              </div>
              <div class="col-6 d-f jc-c al-c">
                <i (click)="delete(educacion.idEducacion)"
                  class="btn-delete bi bi-trash-fill"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 col-sm-6 col-md-4 col-lg-3">
      <div class="parent d-f jc-c al-c">
        <div class="card">
          <div class="top-section d-f jc-c al-c">
            <img  src="https://i.postimg.cc/3Jn1wJ3h/english-for-it-1.png">
          </div>
          <div class="bottom-section">
            <span class="title">Cisco - Skill For All</span>
            <br>
            <span class="subtitle">English For IT 1 - B2</span>
            <div class="row">
              <div class="item">
                <span class="regular-text">From</span>
                <span class="big-text">07-2023</span>
              </div>
              <div class="item">
                <span class="regular-text">To</span>
                <span class="big-text">11-2023</span>
              </div>
            </div>
            <div class="row" *ngIf="isAdmin == true">
              <div class="col-6 d-f jc-c al-c">
                <i routerLink="/editEducation/{{educacion.idEducacion}}"
                  class="btn-edit bi bi-pencil-fill"></i>
              </div>
              <div class="col-6 d-f jc-c al-c">
                <i (click)="delete(educacion.idEducacion)"
                  class="btn-delete bi bi-trash-fill"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-9 col-sm-6 col-md-4 col-lg-3">
      <div class="parent d-f jc-c al-c">
        <div class="card">
          <div class="top-section d-f jc-c al-c">
            <img  src="https://i.postimg.cc/kGYrW0MW/english-for-it-2.png">
          </div>
          <div class="bottom-section">
            <span class="title">Cisco - Skill For All</span>
            <br>
            <span class="subtitle">English for IT 2 - B2</span>
            <div class="row">
              <div class="item">
                <span class="regular-text">From</span>
                <span class="big-text">11-2023</span>
              </div>
              <div class="item">
                <span class="regular-text">To</span>
                <span class="big-text">12-2023</span>
              </div>
            </div>
            <div class="row" *ngIf="isAdmin == true">
              <div class="col-6 d-f jc-c al-c">
                <i routerLink="/editEducation/{{educacion.idEducacion}}"
                  class="btn-edit bi bi-pencil-fill"></i>
              </div>
              <div class="col-6 d-f jc-c al-c">
                <i (click)="delete(educacion.idEducacion)"
                  class="btn-delete bi bi-trash-fill"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Aca termina el codigo editado -->
    <!-- <div class="col-9 col-sm-6 col-md-4 col-lg-3" *ngFor="let educacion of educacions, let i = index" [id]="educacion.idEducacion">
      <div class="parent d-f jc-c al-c">
        <div class="card">
          <div class="top-section d-f jc-c al-c">
            <img  [src]="educacion.fotoEducacion">
          </div>
          <div class="bottom-section">
            <span class="title">{{educacion.institucion}}</span>
            <br>
            <span class="subtitle">{{educacion.titulo}}</span>
            <div class="row">
              <div class="item">
                <span class="regular-text">From</span>
                <span class="big-text">{{educacion.inicio}}</span>
              </div>
              <div class="item">
                <span class="regular-text">To</span>
                <span class="big-text">{{educacion.fin}}</span>
              </div>
            </div>
            <div class="row" *ngIf="isAdmin == true">
              <div class="col-6 d-f jc-c al-c">
                <i routerLink="/editEducation/{{educacion.idEducacion}}"
                  class="btn-edit bi bi-pencil-fill"></i>
              </div>
              <div class="col-6 d-f jc-c al-c">
                <i (click)="delete(educacion.idEducacion)"
                  class="btn-delete bi bi-trash-fill"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>