<section class="hero-form container" *ngIf="experiencia">
  <div class=" d-f jc-c al-c">
    <form class="form-main" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <div class="input-container">
        <div class="input-content">
          <div class="input-dist">
            <span id="SubscribeTXT">Edit Experience</span>
            <div class="input-type">
              <div class="row d-f">

                <div class="col-6">
                  <div class="form-group">
                    <label for="nombreEmpresa">Company Name</label>
                    <input type="text" class="input-is" id="nombreEmpresa" name="nombreEmpresa"
                      placeholder="Enter Company Name" [(ngModel)]="experiencia.nombreEmpresa" required>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="puesto">Job Obtained</label>
                    <input type="text" class="input-is" id="puesto" name="puesto" placeholder="Enter Job Obtained"
                      [(ngModel)]="experiencia.puesto" required>
                  </div>
                </div>

              </div>
              <div class="row d-f">

                <div class="col-6">
                  <div class="form-group ">
                    <label for="inicio">From</label>
                    <input type="month" class="input-is" id="inicio" name="inicio" [(ngModel)]="experiencia.inicio" required>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="fin">To</label>
                    <input type="month" class="input-is" id="fin" name="fin" [(ngModel)]="experiencia.fin" required>
                  </div>
                </div>

              </div>

              <div class="row d-f">
                <div class="col jc-c al-c">
                  <button type="submit" class="btn-save mt-15"><i class="bi bi-person-fill-add"></i></button>
                </div>
                <div class="col jc-c al-c">
                  <button routerLink="/portfolio" class="btnn-close"><i class="bi bi-x-circle-fill"></i></button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>