<div class="hero-proyects" id="proyects">
    <div class="container">
        <h1 class="title-proyects">MIS PROYECTOS</h1>
    </div>

    <div class="message-contruction" >
        <div class="container danger-zone">
            <div class="danger-line"></div>
            <h1 class="content dng-mssg">Todavia en construccion!</h1> 

            <button (click)="toogleTag()" class="readMore_btn buttons">Ver ejemplo</button> 
                <div *ngIf="showMe"  class="list-proyect ">
                    <div class="container example-pryct" *ngFor="let proyecto of proyectos">
                        <div class="row">
                             <div class="col-lg-4 col-md-6 col-sm-12"> 
                                <div class="card card-proyects" [id]="proyecto.idProyectos">
                                    <img [src]="proyecto.fotoProyecto" alt="referencia de proyecto">
                                    <div class="container card-cont">
                                        <b class="name-proyect">{{proyecto.nombreProyecto}}</b>
                                    </div>  
                                    <button class="primaty-btn"> Ir a la pagina</button>
                                </div>
                            </div> 
                             <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card card-proyects" [id]="proyecto.idProyectos">
                                    <img [src]="proyecto.fotoProyecto" alt="referencia de proyecto">
                                    <div class="container card-cont">
                                        <b class="name-proyect">{{proyecto.nombreProyecto}}</b>
                                    </div>  
                                    <button class="primaty-btn">Ir a la pagina</button>
                                </div>
                                </div>
                             <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="card card-proyects" [id]="proyecto.idProyectos">
                                    <img [src]="proyecto.fotoProyecto" alt="referencia de proyecto">
                                    <div class="container card-cont">
                                        <b class="name-proyect">{{proyecto.nombreProyecto}}</b>
                                    </div>  
                                    <button class="primaty-btn">Ir a la pagina</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="danger-line"></div>
        </div>
    </div>
    