<div class="hero-proyects" id="proyects">


    <div class="container">
        <h1 class="title-proyects">Mis Proyectos</h1>
    </div>
    <div class="botones-admin">
        <i *ngIf="isAdmin" (click)="modal.onNewProyecto()" class="bi bi-pencil-square"
            style="color: rgb(255, 225, 0); font-size: 35px; cursor: pointer; "></i>
            <app-modal-proyects [title]="'Agregar Proyecto'" #modal></app-modal-proyects>
    </div>
    <div class="message-contruction">
        <div class="container">
            <div class="list-proyect ">
                <div class="container example-pryct">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 card-main"
                            *ngFor="let proyecto of proyectos , let i = index">
                            <div class="card card-proyects" [id]="proyecto.idProyectos">
                                <a  data-aos="fade-right" data-aos-duration="1000" [href]="proyecto.urlProyecto" target="_blank" > 
                                    <img class="img-proyect"[src]="proyecto.fotoProyecto" alt="referencia de proyecto">
                                </a>
                                <div  data-aos="fade-left" data-aos-duration="1000" class="container card-cont">
                                    <b class="name-proyect">{{proyecto.nombreProyecto}}</b>
                                    <p >{{proyecto.descripcion}}</p>
                                </div>
                               
                                <div class="row">
                                    <div class="col-6">
                                        <i *ngIf="isAdmin == true" (click)="modal.onEditProyecto(i)"
                                            class="btn-edit bi bi-pencil-fill"></i>
                                            <app-modal-proyects-edit [title]="'Editar Proyectos'" #modal></app-modal-proyects-edit>
                                    </div>
                                    <div class="col-6">
                                        <i *ngIf="isAdmin == true" (click)="modal.onDeletedProyecto(i)"
                                            class="btn-delete bi bi-trash-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

