*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Adamina;
    scroll-behavior: smooth;
    text-decoration: none;
}



/* 
  ---------------Inicio Header y Body--------------------
*/


header {
    padding: 20%;
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(assets/img/wallpaper3.jpg);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
}

.container{ 
    padding: 1.25em;
}

body{
    background-color: black;
    font-size: 16px;
    text-align: center;
    align-items: center;
}


.buttons{
    padding: 10px !important;
    text-decoration: none;
    background-color:rgba(0, 0, 0, 0.0);
    color: #fff;
  }

  .login-txt{
    font-size: 25px;
  }

.buttons:active {
    box-shadow: 5px 3px 3px #D4AF37;
  }

  .buttons:hover {
    background-color: #b8a568;
}

.row{
    justify-content: center;
}


.hero-nombre{
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    border: 2px solid  #D4AF37;
}
.titulo{
    font-size: 5.9375em;
}

.subtitulo{
    font-size: 2.8125em;
}

.img-circle {
    border-radius: 50%;
    border: 3px solid #D4AF37;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: 85%;
}

.hero-sobre-mi, .hero-proyects{
    font-size: 2.2875em;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 30%;
    border: 1px solid  #D4AF37;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

.my-descrp-title, .title-proyects, .my-skills-title{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 30%;
    margin: auto;
    border: 1px solid  #D4AF37;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.title-proyects{
    font-size: 1.1em;
}

.my-skills-title{
    width: 20%;
}

.pv{
    padding: 8px;
    border: 1px solid  #D4AF37;
    border-radius: 30px;
}


.readMore_btn{
    border: 1px solid #D4AF37;
}

.danger-line{
    height: 0.875em;
    color: white;
    margin-bottom: .9375em;
    margin-top: 1.5625em;
    background-image: repeating-linear-gradient(
      -55deg,
      #000,
      #000 20px,
      #ffb101 20px,
      #ffb101 40px
    );
  }


.icons-skills{
    display: flex;
    justify-content: center;
    margin: auto;
}

.i-skills{
    width: 7.5em;
    margin: 1.25em;
    padding: 1.25em;
    border: 1px solid #D4AF37;
    border-radius: 10px;
    justify-content: center;
}


.my-descrp{
    font-size: 0.875em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}


.hero-sobre-mi{
    margin-bottom: 5%;
}


.list-proyect, .name-proyect{
    
    margin: auto;
    text-align: center;
}


.card-proyects{
    font-size: .8em;
    background-color: black;
    border-radius: 5px;
    border: 1px  #D4AF37 solid;
    margin: 1.5625rem;
}

.card-cont{
    padding: .625rem 1em ;
}

.img-responsive{
    height: 9em;
    justify-self: center;
}

img {
    border-radius: 5px 5px 0 0;
  }

.contact-title{
    font-size: 50px;
    margin-top: 25px;
}

.hero-contacto{
    font-size: 1.875em;
    margin-left: 15%;
    margin-top: 5%;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #D4AF37;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

.contact-informat{
    padding: .625rem;
    padding-top: 2.5em;
    margin-bottom: 1.25em;
    border-bottom: 1px solid #de423a;
}

.formulario--input-txt, .formulario--textarea{
    width: 100%;
}

.nombre-form, .email-form{
    display: block;
    width: 100%;
}


.formulario--textarea{
    min-height: 6.25em;
    min-width: 6.25em;
    max-width: 100%;
    max-height: 100px;
}
.formulario--btn{
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    border: 1px solid #fff;
}




/*-------------------------- Media Queries-------------------------------------- */


@media  (max-width:2600px){
       .skill-img{
        width: 50%;
    }

    .icons-skills{
        font-size: 19px;
    }

    
}

@media (max-width: 1000px) {
    
    .img-responsive{
        display: none;
       }


    body{
        font-size: 10px;
    }

    .skill-img{
        width: 50%;
    }

    .title-proyects, .my-descrp-title, .my-skills-title{
    font-size: 25px;
    }

    .danger-line{
        height: 30%;
        font-size: 5px;
    }

    .dng-mssg{
        font-size: 30px ;
    }

    .readMore_btn{
        font-size: 20px;
    }

    .navbar{
        font-size: 30px;
    }



}

@media (max-width:770px) {
    .skill-img{
        width: 50%;
    }
    body{
        font-size: 10px;
    }

    .my-descrp-title, .my-skills-title,.title-proyects, .contact-title{
        font-size: 20px;
    }

    .danger-line{
        font-size: 5px;
    }

    .contact-informat{
        font-size: 15px;
    }

    .example-pryct{
        font-size: 25px;
        width: 75%;

    }
    

}

@media (max-width:719px) {

    .skill-img{
        width: 40px;
        margin: auto;
    }

    .i-skills{
        width: 80px;
        height: 80px;
    }
   
    body{
        font-size: 11px;
    }

    .my-descrp-title, .my-skills-title,.title-proyects, .contact-title{
        font-size: 20px;
    }

    .dng-mssg{
        font-size: 15px ;
    }

    .readMore_btn{
        font-size: 15px;
    }
}



@media (max-width:600px){

    .skill-img{
        width: 32px;
    }


    body{
        font-size: 9px;
    }
    
    .my-descrp-title, .my-skills-title, .contact-title{
        font-size: 15px;
    }
    
    .contact-informat{
        font-size: 10px;
    }

    .example-pryct{
        font-size: 15px;
        width: 70%;

    }

}

@media (max-width:490px) {

    .skill-img{
        width: 15px; 
        margin-top: -10px;
    }

    .i-skills{
        width: 15px;
        height: 15px;
        display:flex;
    }
  
    body{
        font-size: 6px;
    }

    .title-proyects{
        font-size: 10px;
    }
}

@media (max-width: 320px){
    .skill-img{
        width: 15px;
        display:grid;
    }

    .i-skills{
        width: 15px;
        height: 15px;
    }

    body{
        font-size: 7px;
    }

    .titulo{

        font-size: 35px;
    }

    .subtitulo{
        font-size: 15px;
    }

    .title-proyects{
        font-size: 8px;
    }
    .my-skills-title{
        font-size: 15px;
    }


    .hero-skills{
        margin-bottom: 5%;
    }

    .column-title{
        font-size: 13px;
    }

    .btn-nav, .login-txt{
        font-size: 15px;
    }
}
