

<ng-container *ngIf="show">
    <div class="modalc">
      <div class="modalc-content">
        <!-- Header del modal-->
        <header class="modalc-header">
          <h4 class="modalc-title"><b>{{ title }}</b></h4>
          <i class="bx bx-x" (click)="show = false"></i>
        </header>
        <!-- Contenido del modal-->
        <div class="modalc-container">
          <form [formGroup]="proyectosForm" (ngSubmit)="onSubmit()">
            <div>
              <input type="hidden" name="idProyectos" formControlName="idProyectos" />
  
              <h4>Nombre del Proyecto</h4>
              <input
                type="text"
                name="nombreProyecto"
                formControlName="nombreProyecto"
                placeholder="Ingrese nombre del Proyecto"
                required
                class="contact-input form-control"
              />
              <br>
              <h4>Descripcion</h4>
              <input
                type="text"
                name="descripcion"
                formControlName="descripcion"
                placeholder="Ingrese descripcion del Proyecto"
                required
                class="contact-input form-control"
              />
              <br>
              <h4>Direccion del Proyecto</h4>
              <input
              type="url"
                name="urlProyecto"
                formControlName="urlProyecto"
                placeholder="Ingrese la Url del Proyecto"
                class="contact-input form-control"
              />

              <h4>imagen del Proyecto</h4>
              <input
              type="url"
                name="fotoProyecto"
                formControlName="fotoProyecto"
                placeholder="Ingrese la Url de la imgen del proyecto"
                class="contact-input form-control"
              />
              

              <!--==/ Botón para guardar los datos /==-->
              <div class="container">
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn-save mt-15"><i class="bi bi-person-fill-add"></i></button>
                    </div>
                    <div class="col-6">
                        <button (click)="show = false" class="btnn-close" ><i class="bi bi-x-circle-fill"></i></button>
                    </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>

