<section class="hero-form container">
  <div class=" d-f jc-c al-c">
    <form class="form-main" (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <div class="input-container">
        <div class="input-content">
          <div class="input-dist">
            <span id="SubscribeTXT">New Project</span>
            <div class="input-type">
              <div class="row d-f">

                <div class="col-6">
                  <div class="form-group">
                    <label for="nombreProyecto">Project Name</label>
                    <input type="text" class="input-is" id="nombreProyecto" name="nombreProyecto"
                     placeholder="Enter Project Name" [(ngModel)]="nombreProyecto" required>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="descripcion">Project Type</label>
                    <input type="text" class="input-is" id="descripcion" name="descripcion"
                    placeholder="Ej: Portfolio, Blog" [(ngModel)]="descripcion" required>
                  </div>
                </div>

              </div>
              <div class="row d-f">

                <div class="col-6">
                  <div class="form-group">
                    <label for="fotoProyecto">Image URL</label>
                    <input type="text" class="input-is" id="fotoProyecto" name="fotoProyecto"
                    placeholder="Enter Image Url" [(ngModel)]="fotoProyecto" required>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="urlProyecto">Project Url</label>
                    <input type="text" class="input-is" id="urlProyecto" name="urlProyecto"
                    placeholder="Enter Project Url" [(ngModel)]="urlProyecto" required>
                  </div>
                </div>

              </div>
              <div class="row d-f">
                <div class="col jc-c al-c">
                  <button type="submit" class="btn-save mt-15"><i class="bi bi-person-fill-add"></i></button>
                </div>
                <div class="col jc-c al-c">
                  <button routerLink="/portfolio" class="btnn-close"><i class="bi bi-x-circle-fill"></i></button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>