.timeline-container {
    position: relative;
}

.timeline-container::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    width: 2px;
    background: linear-gradient(to bottom, var(--primary-accent) 0%, var(--secondary-accent) 70%, transparent 100%);
}

.timeline-item {
    position: relative;
    width: 50%;
}
.timeline-item:nth-child(odd) {
    padding-right: 30px;
    text-align: right;
}
.timeline-item:nth-child(even) {
    left: 50%;
    padding-left: 30px;
    text-align: left;
}

.timeline-dot {
    position: absolute;
    top: 20px;
    width: 14px;
    height: 14px;
    background-color: var(--secondary-accent);
    border: 2px solid var(--bg-color);
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px var(--secondary-accent);
    transition: transform 0.3s ease;
}

.timeline-item:hover .timeline-dot {
    transform: scale(1.2);
}

.timeline-item:nth-child(odd) .timeline-dot {
    right: -7px;
}
.timeline-item:nth-child(even) .timeline-dot {
    left: -7px;
}

@media (max-width: 768px) {
    .timeline-container::before {
        left: 15px;
    }
    .timeline-item {
        width: 100%;
        padding-left: 50px;
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(even)  {
        left: 0;
    }
    .timeline-item:nth-child(even) .timeline-dot {
        left: 7px;
    }
    .timeline-dot {
        left: 8px;
    }
    .timeline-item:nth-child(odd) .timeline-dot {
        right: auto;
        left: 8px;
    }
}
