<div class="hero-experience container-fluid" id="experiece" style="background-color: black;">
    <div class="container">
        <h1 class="title-experience">Mi Experiencia</h1>
    </div>
    <div class="botones-admin">
        <i *ngIf="isAdmin" (click)="modal.onNewExperiencia()" class="bi bi-plus-square"
            style="color: rgb(255, 225, 0); font-size: 35px; cursor: pointer; "></i>
            <app-modal-experience [title]="'Agregar Experiencia'" #modal></app-modal-experience>
    </div>

    <div class="container-fluid" style="margin-bottom: 3%;" >
        <div class="row">
            <div class="col-md-6 col-sm-10" *ngFor="let experiencia of experiencias, let i = index" [id]="experiencia?.idExperiencia" >
                <div class="card main-card-experience">
                    <div class="card-header card-experience-title">
                        <h2 class="title-card-experience">{{experiencia?.nombreEmpresa}}</h2>
                    </div>
                    <div class="card-body experience-card">
                        <div class="row">
                            <div class="col">
                                <div class="card-text">
                                    <div class="card-title">
                                        <p class="experience-puesto">{{experiencia?.puesto}}</p>
                                        <p class="experience-descript"> {{experiencia?.descripcion}} </p>
                                    </div>
                                    <div class="row date-experience">
                                        <div class="col-6">
                                            <p class="date-card-experience">Inicio: {{experiencia?.inicio}}</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="date-card-experience" >Fin: {{experiencia?.fin}}</p>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <i *ngIf="isAdmin == true" (click)="modal.onEditExperiencia(i)" class="btn-edit bi bi-pencil-fill"></i>
                            <app-modal-experience [title]="'Editar Experiencia'" #modal></app-modal-experience>
                        </div>
                        <div class="col-6">
                            <i *ngIf="isAdmin == true" (click)="modal.onDeletedExperiencia(i)" 
                            class="btn-delete bi bi-trash-fill"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
