<div class="container experience-hero" id="experiece">
  <div class="container-fluid d-f jc-c">
    <p class="experience-title">My Experience</p>
    <div class="d-f al-c">
      <i *ngIf="isAdmin" routerLink="/newExperience" class="bi bi-plus-square add-skill"></i>
    </div>
  </div>
  <div class="container ">
    <div class="row d-f jc-c al-c">
      <div class="col-12 col-sm-6 col-container" *ngFor="let experiencia of experiencias, let i = index"
        [id]="experiencia.idExperiencia">
        <div class="card">
          <div class="card-section">
            <span class="title">{{experiencia.nombreEmpresa}}</span>
            <span class="subtitle">{{experiencia.puesto}}</span>
            <div class="row row1">
              <div class="item">
                <span class="regular-text">From</span>
                <span class="big-text">{{experiencia.inicio}}</span>
              </div>
              <div class="item">
                <span class="regular-text">To</span>
                <span class="big-text">{{experiencia.fin}}</span>
              </div>
            </div>
            <div class="row row-btn" *ngIf="isAdmin == true">
              <div class="col-6">
                <i routerLink="/editExperience/{{experiencia.idExperiencia}}"
                  class="btn-edit bi bi-pencil-fill d-f jc-c al-c"></i>
              </div>
              <div class="col-6">
                <i (click)="delete(experiencia.idExperiencia)" 
                class="btn-delete bi bi-trash-fill d-f jc-c al-c">
                </i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>