<section class="py-24">
    <div class="container mx-auto px-6">
        <h2 class="text-4xl font-orbitron font-bold text-center mb-20 section-heading text-white">Experience</h2>
        <div class="relative timeline-container">
            
            <div class="timeline-item mb-12">
                <div class="timeline-dot"></div>
                <div class="p-6 glass-card rounded-lg">
                    <h3 class="text-2xl font-orbitron font-bold text-pink-400 text-left">Back End Java Developer</h3>
                    <p class="text-md text-gray-400 mb-2 text-left">Venedicto Developers | 2024 - Present</p>
                    <ul class="list-disc list-inside text-gray-300 space-y-2 text-left">
                        <li>
                            Developed, optimized, and maintained high-performance REST APIs using Java and Spring Boot, coupled with efficient MySQL database management.
                        </li>
                        <li>
                            Planned and executed development workflows to ensure timely feature delivery and robust system performance.
                        </li>
                        <li>
                            Served as the lead backend developer for key projects, including a psychologist-patient session management platform and a paddle tennis management app, while also maintaining and integrating new features for a law firm's web app.
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="timeline-item mb-12">
                <div class="timeline-dot"></div>
                <div class="p-6 glass-card rounded-lg">
                    <h3 class="text-2xl font-orbitron font-bold text-pink-400">Full Stack Developer</h3>
                    <p class="text-md text-gray-400 mb-2">Freelance | 2023 - 2024</p>
                    <ul class="list-disc list-inside text-gray-300 space-y-2 text-left">
                        <li>
                            Architected and developed full-stack solutions for clients, utilizing Angular for the frontend and Java with Spring Boot for the backend, integrated with MySQL databases.
                        </li>
                        <li>
                            Managed the complete project lifecycle, from initial planning and requirement gathering with clients to final deployment.
                        </li>
                        <li>
                           Successfully delivered custom applications by leading solo projects and collaborating effectively within development teams.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>